@charset "utf-8";
/* CSS Document */
@media (min-width: 1024px) and (max-width: 1200px){
	.header-socials-wrap .header-social .header-social-icon span { width: 24px;height: 24px;}
.header-socials-wrap .header-social .header-social-icon span i {line-height: 23px;font-size: 11px;}
.custom-btn{font-size: 10px;padding: 7px 15px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
.header-socials-wrap .header-social .header-social-icon span { width: 24px;height: 24px;}
.header-socials-wrap .header-social .header-social-icon span i {line-height: 23px;font-size: 11px;}
.custom-btn{font-size: 10px;padding: 7px 15px;}
}

@media only screen and (max-width: 991px) {    
.navbar-toggle { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggle .icon-bar { width: 24px; background: #000;transition: .5s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}
.navbar-header {display: block;}

/* header @sb 21.03.2022 start */

.custom-header .header-socials-wrap { display: none;} 
.header-right { position: absolute;bottom: 0;left: 50%; transform: translate(-50%, -35%);text-align: center;}
/* header @sb 21.03.2022 end */

/* banner @sb 21.03.2022 start */
.main-heading h1 {font-size: 35px;text-align: center;}
.main-heading p {font-size: 20px;line-height: 28px;text-align: center;}
.custom-banner-botton {text-align: center;}
.custom-banner.custom-pad {padding: 120px 0 190px 0;}
.banner-right-image {width: 90%;margin-top: 30px;}
.banner-right-image img {width: 100%;margin-top: 0;}
.custom-banner-botton .custom-btn {font-size: 14px;line-height: 31px;}

.dp-circle-1 {top: 13%;}
.dp-circle-2 {left: 23%;top: 25%;}
.dp-circle-3 {left: 26%;}
.dp-circle-4 {left: 49%}
.dp-circle-5 {left: 57%;top: 22%;}
.dp-circle-6 {left: 69%;top: 39%;}
.dp-circle-7 {left: 84%;top: 13%;}
.dp-circle-8 {left: 84%;top: 76%;}
/* banner @sb 21.03.2022 end */


/* ===== Swagata 17.03.2022 start */
.cloud-storage-left {text-align: center;}
.cloud-storage-left img {width: 70%;}
.cloud-storage-r-heading {text-align: center;}
.cloud-storage-sb::after {top: 34%;width: 206px;height: 81%;}
.cloud-storage-right {padding-top: 45px;}
.run-a-part-mid {padding-top: 30px;}
.custom-pad { padding: 60px 0;}
.custom-header .navbar-brand {margin-left: 0;}
.custom-header .navbar-header {margin-right: 0;}
.container  {width: 95%;}
footer.custom-pad {padding-top: 60px;}
 /* ===== Swagata 17.03.2022 end */
}


@media (max-width: 767px){
.custom-pad { padding: 40px 0;}
.cloud-storage-r-buttons .pr-1 {padding-right: 15px !important;}
.cloud-storage-r-buttons .pl-1  {padding-left: 15px !important; padding-top: 15px;}
.header-button-wrap {display: none; }
.main-heading h1 { font-size: 33px; line-height: 41px;}
.main-heading p {font-size: 16px;line-height: 21px;}
.custom-banner-botton.mt-3{margin-top: 25px;}
.custom-heading h3 {font-size: 34px;}
.cloud-storage-r-heading h4 {font-size: 21px;line-height: 30px;}
.footer-menu .footer-menu-item .footer-menu-link {margin: 0 6px;font-size: 15px;}
   

}
@media only screen and (max-width: 480px) {	
   .custom-heading h3 { font-size: 30px; }
   .cloud-storage-r-heading h4 { font-size: 20px;line-height: 27px;  }
   .cs-button {font-size: 12px;}
   .main-heading h1 { font-size: 24px; line-height: 31px;}
   .main-heading p {font-size: 14px;line-height: 19px;}
   .custom-banner-botton .custom-btn {font-size: 11px;line-height: 30px;}
    .custom-banner-botton .custom-btn {padding: 3px 30px; height: max-content;}
   .run-a-part-box-btn {font-size: 16px;}
   .footer-logo img { width: 120px }
   .footer-menu .footer-menu-item .footer-menu-link { margin: 0 3px;font-size: 13px;}
   .header-socials-wrap .header-social .header-social-icon span {width: 30px;height: 30px;}
   .header-socials-wrap .header-social .header-social-icon span i { line-height: 31px; font-size: 12px}
   .footer-menu { padding: 20px 10px 20px;}
}

@media  (max-width: 390px) {
   .custom-heading h3 {font-size: 26px;}
   .custom-pad {padding: 20px 0;}
    footer.custom-pad {padding-top: 50px;}
    .banner-right-image {width: 100%;margin-top: 25px;}
    .main-heading h1 {font-size: 19px;line-height: 27px;}
    .main-heading p {font-size: 13px;line-height: 17px;margin-top: 15px;}
    .custom-banner-botton .custom-btn { padding: 2px 15px;}
    .navbar-brand img {  height: 40px;}
   
}
